.characters {


    display: flex;
    justify-content: center;
    /* Horizontally center child divs */
    align-items: center;
    /* Vertically center child divs */
    flex-direction: column;

}





  .loadingOne{
    font-size: 27px;
    margin-top: 0px;
    font-weight: bold;

  }