@keyframes spinAnimation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  h3.loading {
    text-align: center;
    animation: spinAnimation 2s linear infinite;
    display: inline-block;
    color: black;
    width: 120px;
    height: 120px;
  }
  
  .animation {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border: 8px solid transparent;
    border-top-color: #f44336;
    border-radius: 50%;
    animation: spinAnimation 2s linear infinite;
    display: inline-block;
  }
  

  .container{
    text-align: center;
    margin-top: 50px;
  }